@charset "utf-8";
img {position:absolute}
.choice
{left: 200px}
.vader
{left: 810px;
top: 75px}
.blues
{left: 817px;
top: 615px}
.crowd
{left: 817px;
top: 905px}
.next5
{left: 200px;
top: 977px}